{# admin oldali kereső panel #}
<div class="accordion" id="searchbar">
    <div class="accordion-group">
        <div class="accordion-heading">
            {# keresőpanel lenyitó link #}
            {{ include( 'MakaiContactBundle:buttons:open_search_panel_link.html.twig' ) }}
        </div>
        <div id="searchFilters" class="accordion-body collapse">
            <div class="accordion-inner">
                <form method="get" action="../../" class="filter_form form-horizontal">
                    {{ form_rest(form) }}
                    <p class="search_filter_button">
                        {# keresés gomb #}
                        {{ include( 'MakaiContactBundle:buttons:search_button.html.twig' ) }}
                    </p>
                    <input type="hidden" name="export_format" value="" id="export_format" />
                    <input type="hidden" name="export" id="export" value="0" />
                </form>
            </div>
        </div>
    </div>
</div>