<form method="get" action="../../" class="export_form form-horizontal">
    <div class="btn-group">
        <a class="btn dropdown-toggle reset pull-right muted" data-toggle="dropdown" href="#">
            <i class="icon-share"></i>{% trans %}button.export{% endtrans %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" title="" class="export_type" data-export-attr="xls"><i class="icon-file"></i> {% trans %}export.format.xls{% endtrans %}</a></li>
            <li><a href="#" title="" class="export_type" data-export-attr="csv"><i class="icon-file"></i> {% trans %}export.format.csv{% endtrans %}</a></li>
            <li><a href="#" title="" class="export_type" data-export-attr="html"><i class="icon-file"></i> {% trans %}export.format.html{% endtrans %}</a></li>
        </ul>
    </div>
    <input type="hidden" name="export" value="export" />
</form>