{% extends '::base.html.twig' %}
{# Page content title #}
{% block title %}Kapcsolat{% endblock %}
{# Page content #}
{% block body %}
    {# Page content #}
    {% block content %}{% endblock %}
{% endblock %}