{% extends 'MakaiContactBundle::layout.html.twig' %}
{# Page content title #}
{% block title %}
	{{ 'contact.form.title'|trans }}
{% endblock %}
{# Page content #}	 
{% block content %}
    {% for flashMessage in app.session.flashbag.get('contact-notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="form">
        {{ form_start(form, {'action': path('contact'), 'method': 'POST'}) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'contact.form.field.submit_button'|trans }}" />
        {{ form_end(form) }}
    </div>
{% endblock %}