
{{ 'contact.email.message.date'|trans }}: {{ "now" |format_datetime}}.

{{ 'contact.email.message.username'|trans }}: {{ enquiry.username }}

{{ 'contact.email.message.email'|trans }}: {{ enquiry.useremail }}

{{ 'contact.email.message.subject'|trans }}: {{ enquiry.subject }}

{{ 'contact.email.message.body'|trans }}:
{{ enquiry.message }}