{# hibák kiíratása #}
{% if app.session.flashBag.has('contact-errors') %}
    <div class="alert alert-error">
        {% for msg in app.session.flashBag.get('contact-errors') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}