{# sikeres műveletek után információ kiíratása #}
{% if app.session.flashBag.has('contact-success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('contact-success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}