{# vissza a listához gomb #}
<div class="control-group">
    <div class="controls">
        <a href="{{ url }}" class="btn"><i class="icon-arrow-left"></i>{{ 'admin.button.back_to_list'|trans }}</a>
    </div>
</div>