{# keresőpanel lenyitó link #}
<a class="accordion-toggle" data-toggle="collapse" data-parent="#searchbar" href="#searchFilters">
    {{ 'admin.button.search'|trans }}<i class="icon-chevron-down"></i>
</a>