{# mentés gomb #}
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn btn-primary">
            <i class="icon-ok-sign icon-white"></i>{{ 'admin.button.save'|trans }}
        </button>
    </div>
</div>