{% extends 'MakaiContactBundle::admin_layout.html.twig' %}
{# Page content title #}
{% block page_title %}{{ 'admin.contact_edit.title'|trans }}{% endblock %}
{# Page content #}
{% block admin_content %}
    {# sikeres mentés kiírása #}
    {{ include( 'MakaiContactBundle:flash_messages:success.html.twig' ) }}
    {{ form_start(edit_form, {'action': path('admin_contact_update', { 'id': entity.id }), 'method': 'POST', 'attr' : {'class' : 'form-horizontal' }}) }}
        {{ form_errors(edit_form) }}
        {{ form_widget(edit_form) }}
        {# mentés gomb #}
        {{ include( 'MakaiContactBundle:buttons:edit_button.html.twig' ) }}
        {# vissza a listához gomb #}
        {{ include( 'MakaiContactBundle:buttons:back_to_list_button.html.twig', { 'url':  path('admin_contact')  } ) }}
    {{ form_end(edit_form) }}
{% endblock %}
