{% extends 'MakaiContactBundle::admin_layout.html.twig' %}
{# Page content title #}
{% block page_title %}{{ 'admin.contact_list.title'|trans }}{% endblock %}
{# Page content #}
{% block admin_content %}
    {# form filter#}
    {{ include( 'MakaiContactBundle::admin_search_panel.html.twig' ) }}
    {# sikeres mentés kiírása #}
    {{ include( 'MakaiContactBundle:flash_messages:success.html.twig' ) }}
    <div class="pagination_total_count">
        <span>{{ 'admin.list.pagination.pagination_total_count'|trans }}:</span> {{ pagination.getTotalItemCount|number_format(0, '.', ' ')  }} db
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <table class="table table-striped table-bordered table-hover">
        <caption>
            {{ include( 'MakaiContactBundle::export_form.html.twig' ) }}
        </caption>
        <thead>
        <tr>
            <th>{{ 'admin.list.field.title'|trans }}</th>
            <th>{{ 'admin.list.field.username'|trans }}</th>
            <th>{{ 'admin.list.field.useremail'|trans }}</th>
            <th>{{ 'admin.list.field.action.edit'|trans }}</th>
            <th>{{ 'admin.list.field.action.delete'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr {% if entity.isDeleted == true %}
                class="error"
            {% endif %}
                    >
                <td>{{ entity.subject }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.useremail }}</td>
                <td>
                    <a href="{{ path('admin_contact_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-edit"></i> {{ 'admin.button.edit'|trans }}</a>
                </td>
                <td>

                    <button class="btn btn btn-inverse revertItem"
                            {% if entity.isDeleted != true or entity.isDeleted is null %}
                                style="display:none;"
                            {% endif %}
                            data-action-type="revert" type="button" data-item-id="{{ entity.id  }}" data-url="{{ path('admin_contact_delete')}}">
                        <i class="icon-remove-sign icon-white"></i>{{ 'admin.button.revert'|trans }}
                    </button>

                    <button class="btn btn-danger deleteItem"
                            {% if entity.isDeleted == true and entity.isDeleted is not null %}
                                style="display:none;"
                            {% endif %}
                            data-action-type="delete" type="button" data-item-id="{{ entity.id  }}" data-url="{{ path('admin_contact_delete')}}">
                        <i class="icon-remove-sign icon-white"></i>{{ 'admin.button.delete'|trans }}
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}