{% extends '::admin_layout.html.twig' %}
{# Page content title #}
{% block page_title %}{{ 'admin.contact_create.title'|trans }}{% endblock %}
{# Page content #}
{% block admin_content %}
    {{ form_start(form, {'action': path('admin_contact_create'), 'method': 'POST' , 'attr' : {'class' : 'form-horizontal' }}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {# mentés gomb #}
        {{ include( ':/buttons:save_button.html.twig' ) }}
        {# vissza a listához gomb #}
        {{ include( ':/buttons:back_to_list_button.html.twig', { 'url':  path('admin_contact')  } ) }}
    {{ form_end(form) }}
{% endblock %}
